/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2014, 4:31:11 PM
    Author     : Gof
*/

body {
    touch-action: pan-y;
}

.actionButtons td, .actionButtons tr {
    border: 0 !important;
    background: transparent !important;
    padding: 0 !important;
}

a:visited {
    color: black;
}

a {
    color: black;
}

.foodIcon {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    margin: auto;
}

.ingredientInfo {
    margin-left: 0.5em;
}

.ingredientStats {
    margin-left: 1em;
}

.ingredientItem {
    margin-bottom: 0.7em;
}

.recipeStep {
    margin-bottom: 1em;

    .inlineEditor .ui-inplace-display {
        min-height: 1em;
        width: 100%;
    }

    .ui-state-highlight {
        width: 100%;
        border: 0 !important;
        color: initial !important;
    }
}

.recipeStepInner {
    display: inline-block;
    width: 100%;
    min-height: 1em;
}

.recipeStepEditor {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.recipeContainer {
    position: relative;
    display: inline-block;
    
    .delete {
        position: absolute;
        right: 0;
        margin-right: 1.25em;
        margin-top: 0.25em;
    }
}

.recipeMedia {
    width: 128px;
    height: 100px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
}

.featherlight-next:hover,
.featherlight-previous:hover {
    background: rgba(0,0,0,0.40);
}


.featherlight-next span,
.featherlight-previous span {
    font-size: 25px;
}
.fullWidth {
    vertical-align: top;
}

.dragHoverTest {
    background: darkslategrey !important;

    .ui-panel-titlebar {
        background: -webkit-linear-gradient(top,#c1c1c1 0,#cacdd2 100%);
        background: linear-gradient(top,#c1c1c1 0,#cacdd2 100%);
    }
}

.dragActiveTest {
    background: lightgray;   
}

.ui-draggable-helper {
    background: grey;
    width: 300px;
    height: 2em;
    overflow: hidden;
    opacity: 0.3;
}

.ui-state-disabled {
    display: none;
}

.ingredientGroupList .ui-datalist-content {
    border: 0;
}

.recipeGroup .ui-panel-content {
    padding: 0;
}

@media print {
    .hideFromPrint {
        display: none;
    }
}