/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 29, 2014, 4:31:11 PM
    Author     : Gof
*/

body {
}

.actionButtons td, .actionButtons tr {
    border: 0 !important;
    background: transparent !important;
    padding: 0 !important;
}

a:visited {
    color: blue;
}

.ingredientInfo {
    margin-left: 0.5em;
}

.ingredientStats {
    margin-left: 1em;
}

.ingredientItem {
    margin-bottom: 1em;
}

.recipeStep {
    margin-bottom: 1em;
    
    .ui-state-highlight {
        /*display: inline-block !important;*/
        width: 100%;
    }
}

.recipeStepEditor {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
}

.fullWidth {
    vertical-align: top;
}

@media print {
    .hideFromPrint {
        display: none;
    }
}